<h1>dlakfjsdlkjafldsjflasdk</h1>

<div ng-controller="AppearlCtl">
    <div class="banner"><img src="file:///Users/innovatebham_8/Desktop/Group/images/covalence-store-apparel-hero.jpg" alt="clothesrack"></div>
        <div ng-click="getId(product.id)" class="products" ng-repeat="appearl in data">
            <div>
                <img class="productImage"  src="{{product.image}}" alt="Product">
                <h3>{{appearl.name}}</h3><h3>{{appearl.price}}</h3>
            </div>
        </div>
</div>
