.invoice-container{
    padding-left: 6em;
    border: black solid 2px;
    padding-bottom: 2em;
    padding-top: 2em;
    overflow: scroll;
}
.circle1 {
    background: #47B6C7;
    width: 1.50em;
    height: 1.50em;
    border-radius: 50%;
    float: left;
    text-align: center;
    margin-right: .75em;
    font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.your-email{
         font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         font-weight: bold;
}
.email-input{
    width: 31.9em;
    /*margin-left: 5.313em;*/
    height: 2.063em;
    background-color: gainsboro;
    font-size: 0.813em;
    border-width: 0em;
    border: none;
}

.circle2 {
    background: #47B6C7;
    width: 1.50em;
    height: 1.50em;
    border-radius: 50%;
    float: left;
    text-align: center;
    margin-right: .75em;
    font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.your-address{
             font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
             font-weight: bold;
}
.address-name{
    float: left;
    margin-right: 0.938em;
    margin-top: 1.625em;
    margin-right: -1.625em;
    font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.address-inputDiv{
    padding-left: 4em;
}
.address-first{
    margin-top: 0.938em;
    width: 15.625em;
    height: 2.063em;
    background-color: gainsboro;
    margin-bottom: 0.875em;
    font-size: .813em;
    border-width:0px;
    border:none;
}
.address-last{
    width: 15.625em;
    height: 2.063em;
    background-color: gainsboro;
    font-size: .813em;
    border-width:0em;
    border:none;
    margin-bottom: 0.875em;
 
}
.address-company{
    width: 15.625em;
    height: 2.063em;
    background-color: gainsboro;
    margin-bottom: 14px;
    font-size: .813em;
    border-width:0px;
    border:none;
}
.address-phone{
    width: 15.625em;
    height: 2.063em;
    background-color: gainsboro;
    font-size: .813em;
    border-width:0em;
    border:none;
    margin-bottom: 0.875em;
}
.addressTxt{
    float: left;
    margin-top: 1.563em;
    font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
.address-1{
    width: 18.875em;
    height: 2.063em;
    background-color: gainsboro;
    margin-bottom: .875em;
    font-size: .813em;
    border-width:0em;
    border:none;
}
.address-2{
    width: 12.375em;
    height: 2.063em;
    background-color: gainsboro;
    font-size: .813em;
    border-width:0em;
    margin-bottom: 0.875em;
    border:none;
}
.address-city {
    width: 15.625em;
    height: 2.063em;
    background-color: gainsboro;
    margin-bottom: 0.875em;
    font-size: .813em;
    border-width:0em;
    border:none;
}
.state-selector{
    width: 15.625em;
    height: 2.063em;
    background-color: gainsboro;
    font-size: .813em;
    border-width:0em;
    border:none;
    margin-bottom: 0.875em;
}
.address-zipcode{
    width: 9.375em;
    height: 2.063em;
    background-color: gainsboro;
    font-size: .813em;
    border-width:0em;
    border:none;
    margin-bottom: 0.875em;
}
.country-selector{
    width: 21.875em;
    height: 2.063em;
    background-color: gainsboro;
    font-size: .813em;
    border-width:0em;
    border:none;
}
.circle3 {
    background: #47B6C7;
    width: 1.50em;
    height: 1.50em;
    border-radius: 50%;
    float: left;
    text-align: center;
    margin-right: .75em;
    font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.payment-method{
    font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.card-number {
    background-color: gainsboro;
    font-size: .813em;
    border-width:0em;
    margin-bottom: 0.875em;
    border:none;
    height: 2em;
    font-size: 1em;
    width: 25em;
}
.experation{
    float: left;
    padding-right: 1em;
}
.month-selector{
    width: 7.625em;
    height: 2.063em;
    background-color: gainsboro;
    font-size: .813em;
    border-width:0em;
    border:none;
    margin-bottom: 0.875em;
}
.year-selector{
    width: 7.625em;
    height: 2.063em;
    background-color: gainsboro;
    font-size: .813em;
    border-width:0em;
    border:none;
    margin-bottom: 0.875em;
}
.CSC{
    width: 7.375em;
    height: 2.063em;
    background-color: gainsboro;
    margin-right: .75em;
    font-size: .813em;
    border-width:0em;
    border:none;
    margin-bottom: 0.875em;
}
.submit-button{
    background-color: #47B6C7;
    color: white;
    border-width:0em;
    border:none;
    border-radius: 8px;
    font-size: 24px;
    width: 12em;
    height: 2em;
    font-weight: bold;
}
.footer{
    text-align: center;
    font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}