.Index {
  .footer {
  -webkit-filter: brightness(15%); 
  filter: brightness(15%);
  width: 30%;
  height: 30%;
  float: left;
  height: 3.55em;
  width: auto;
  }
  .footertext {
  float: right;
  margin-top: 0.8em;
  opacity: 0.6;
  font-size: 1.4em;
  }
  .header {
  height: 1.5em;
  width: auto;
  }
  .navbar-inverse {
  opacity: 0.66;
  }

  .circle {
    background: #47B6C7;
    width: 1.50em;
    height: 1.50em;
    border-radius: 50%;
    float: left;
    text-align: center;
    margin-right: .75em;
    font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
  }
  
  .cartitem{
      display: inline-flex;
      .displayimage{
          margin: 1em;
          height: 100px;
          width: 100px;
      }
      #delete{
          background-color: white;
          color: red;
          border: none;
          margin: 3em;
      }
  }

  .sidenav {
  float: right;
  height: 93%;
  width: 0;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
      .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: white;
      display: block;
      transition: 0.3s;
      }

      .closebtn {
      background-color: #47B6C7;
      position: absolute;
      top: 0;
      font-size: 16px;
      width: 100%;
      padding: 1em;
      }

      .checkoutbtn{
      background-color: #47B6C7;
      color: white;
      border-width: 0em;
      border: none;
      font-size: 24px;
      width: 15em;
      height: 2em;
      font-weight: bold;
      }
  }
}