.Index {
  footer {
  -webkit-filter: brightness(0.15);
  filter: brightness(0.15);
  opacity: 0.3;
  width: 30%;
  height: 30%;
  float: left;
  height: 3.55em;
  width: auto;
  }
  .footertext {
  float: right;
  margin-top: 2em;
  opacity: 0.6;
  font-size: 1.4em;
  }
  .header {
  height: 2.3em;
  width: auto;
  }
  .navbar-inverse {
  opacity: 0.66;
  height: 5em;
  }

  .sidenav {
  float: right;
  height: 93%;
  width: 0;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
      .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: white;
      display: block;
      transition: 0.3s;
      }

      .sidenav .closebtn {
      background-color: #47B6C7;
      position: absolute;
      top: 0;
      font-size: 16px;
      width: 100%;
      padding: 1em;
      }
  }
}