.Invoice{
        font-family: "Futura", Arial, Helvetica, sans-serif;
        font-size: 24px;
        color: #47b6c7;
        padding-left: 3em;
        border: 1px solid grey;
        background-color: grey;
        color: black;
        padding-top: 1em;
        padding-bottom: 1em;
tr:nth-of-type(odd) {
        background-color: #47b6c7;
    }
table{
    width: 100%;
}

tr:nth-of-type(even){
        background-color: grey;
    }

    .container{
        font-family: "Futura", Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #47b6c7;
    }
}
