.Products{ 
  .bannerImage {
    margin-top: -6em;
    margin-bottom: 25px;
    width: 100%;
    height: 25em;
  }
  .price {
    float: right;
    color: #47b6c7;
    margin-right: -3em;
    font-family: "Futura";
  }

  .productdiv {
    margin: 1.7em;
    padding: 1em;
    display: inline-block;
    width: 400px;
    text-align: center;
  }

  .productscontainer {
    text-align:center;
    display:inline-block;
    width:100%;
  }

  .copyright {
    background-color: #F4F4F4;
    width: 100%;
    display: inline-block;
    margin-top: 8em;
    padding: 2em;
  }
  .productName {
    color: #6b6b6b;
    font-size: 18px;
    float: left;
    margin-left: 3.4em;
    font-family: "Futura";
  }
  .productImage {
    margin-left: 4.3em;
    width: 100%;
    height: 100%;
  }
  
}