.bannerImage {
  margin-top: -10em;
  margin-bottom: 25px;
  width: 100%;
  height: auto;
}
.productdiv {
  display: inline-block;
  margin: 2%;
  width: 300px;
  text-align: center;
}
.productscontainer {
  margin-left: 15em;
}
.singleproduct {
  width: 600px;
  height: 600px;
  margin-top: 7em;
  margin-left: 5em;
}
.singletext {
  margin-top: 16em;
  padding-left: 8em;
  width: 56em;
}
.buttonsingle {
  background-color: #47B6C7;
  font-size: 1.8em;
  color: white;
  border-radius: 8px;
  border: none;
  width: 10em;
  font-variant: all-small-caps;
  font-family: "Futura";
  letter-spacing: 3px;
}
.productImage {
  width: 100%;
  height: 100%;
}
.copyright {
  background-color: #F4F4F4;
  width: 100%;
  display: inline-block;
  margin-top: 8em;
  padding: 2em;
}
h4 {
  font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.price {
  color: #47b6c7;
}
.footer {
  -webkit-filter: brightness(0.15);
  filter: brightness(0.15);
  opacity: 0.6;
  float: left;
  height: 3.55em;
  width: auto;
}
.footertext {
  float: right;
  margin-top: 2em;
  opacity: 0.6;
  font-size: 1.4em;
}
.header {
  height: 2.3em;
  width: auto;
}
.navbar-inverse {
  opacity: 0.88;
  position: fixed;
  top: 0;
  color: #1597A9;
  width: 100%;
  z-index: 1;
  height: 5em;
  background-color: #071213;
}
.havbar-inverse.navbar-nav li.navbuttons {
  font-size: 1.7em;
  color: #47b6c7;
}
.navtext {
  color: #80828E;
  margin: 25px;
}
.navtext2 {
  color: #80828E;
  margin: 20px;
  font-size: 12px;
}
.sidenav {
  float: right;
  height: 93%;
  width: 0;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav .closebtn {
  background-color: #47B6C7;
  position: absolute;
  top: 0;
  font-size: 16px;
  width: 100%;
}
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.checkoutbtn {
  background-color: #47B6C7;
  position: absolute;
  font-size: 16px;
  border: none;
  color: white;
  margin: 2em;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}
