.Products .bannerImage {
  margin-top: -10em;
  margin-bottom: 25px;
  width: 100%;
  height: auto;
}
.Products .productdiv {
  padding: 1em;
  margin: 2em;
  display: inline-block;
  width: 400px;
  text-align: center;
}
.Products .productscontainer {
  margin-left: 0em;
  align-content: center;
}
.Products .productImage {
  width: 100%;
  height: 100%;
}
.Products .copyright {
  background-color: #F4F4F4;
  width: 100%;
  display: inline-block;
  margin-top: 8em;
  padding: 2em;
}
.Products .price {
  color: #47b6c7;
}
.Single .singleproduct {
  margin-top: 4em;
  margin-left: 4em;
}
.Single .singletext {
  margin-top: 10em;
}
.Single .buttonsingle {
  background-color: #47B6C7;
  font-size: 1.8em;
  color: white;
  border-radius: 8px;
  border: none;
  width: 10em;
  font-variant: all-small-caps;
  font-family: "Futura";
  letter-spacing: 3px;
}
.Single .copyright {
  background-color: #F4F4F4;
  width: 100%;
  display: inline-block;
  margin-top: 12em;
  padding: 2em;
}
.Single .price {
  color: #47b6c7;
}
.Home .homeimage {
  height: 80%;
  width: 100%;
}
.Home .mug {
  width: 100%;
  height: 100%;
  margin-top: -10em;
}
.Home h4 {
  font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Home .start-shopping {
  z-index: 2;
  width: 300px;
  height: 150;
}
.Home .Welcome {
  left: 15%;
  bottom: 40%;
  width: 50%;
  position: sticky;
}
.Home .Welcome .billboard {
  color: whitesmoke;
  Font-family: "Futura";
  width: 50%;
  font-size: 30px;
}
.Home .Welcome .start-shopping {
  width: 50%;
  background-color: #47B6C7;
  border: none;
  border-radius: 0.125em;
  color: white;
  font-family: futura;
  font-size: 20px;
  padding: 19px;
}
.Home #main {
  transition: margin-left 0.5s;
  padding: 20px;
}
.Index main {
  padding: 0 20px;
  min-height: 300px;
  /* start 'enter' transition */
  /* end 'enter' transition */
}
.Index main .products-table {
  margin-top: 20px;
}
.Index main .products-table .delete-column {
  width: 60px;
}
.Index main.ng-enter {
  /* transition on enter for .5s */
  transition: .5s;
  /* start with opacity 0 (invisible) */
  opacity: 0;
}
.Index main.ng-enter-active {
  /* end with opacity 1 (fade in) */
  opacity: 1;
}
.Index .footer {
  -webkit-filter: brightness(15%);
  filter: brightness(15%);
  width: 30%;
  height: 30%;
  float: left;
  height: 3.55em;
  width: auto;
}
.Index .footertext {
  float: right;
  margin-top: 0.8em;
  opacity: 0.6;
  font-size: 1.4em;
}
.Index .header {
  height: 1.5em;
  width: auto;
}
.Index .navbar-inverse {
  color: #47B6C7;
  opacity: 0.66;
}
.Index .navbuttons {
  padding-top: 19px;
  color: #47B6C7;
}
.Index .navbuttons:active {
  color: white;
  text-decoration: underline;
  border-bottom-width: 3px;
}
.Index .navbuttons1 {
  display: inline-flex;
  color: #47B6C7;
}
.Index .circle {
  background: #47B6C7;
  width: 1.50em;
  height: 1.50em;
  border-radius: 50%;
  text-align: center;
  margin-left: .75em;
  font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}
.Index .cartitem {
  display: inline-flex;
}
.Index .cartitem .itemname {
  width: 5em;
  font-size: 14px;
}
.Index .cartitem .itemprice {
  height: 1em;
  font-size: 18px;
  padding: 0.5em;
}
.Index .cartitem .displayimage {
  margin: 1em;
  height: 100px;
  width: 100px;
}
.Index .cartitem #delete {
  background-color: white;
  color: red;
  border: none;
  margin: 1em;
  height: 3em;
}
.Index .sidenav {
  float: right;
  height: 93%;
  width: 0;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.Index .sidenav .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.Index .sidenav .closebtn {
  background-color: #47B6C7;
  position: absolute;
  top: 0;
  font-size: 16px;
  width: 100%;
  padding: 1em;
}
.Index .sidenav .checkoutbtn {
  background-color: #47B6C7;
  color: white;
  border-width: 0em;
  border: none;
  font-size: 24px;
  width: 15em;
  height: 2em;
  font-weight: bold;
}
.Checkout .reviewcode {
  padding: 1em;
}
.Checkout .reviewcodeapply {
  background-color: whitesmoke;
  color: darkgrey;
  border: none;
  padding: 1em;
}
.Checkout .reviewproduct {
  display: inline-flex;
}
.Checkout .reviewcart {
  border: #e0e0e0;
  border-radius: 0.65em;
  overflow: auto;
  text-align: center;
  height: 45.25em;
  background-color: #e0e0e0;
  font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Checkout .reviewremove {
  background-color: white;
  color: red;
  border-radius: .65em;
  border: none;
  margin: 3em;
}
.Checkout .reviewbutton {
  border: 1px grey solid;
  background-color: white;
  color: red;
  border-radius: .65em;
  padding: 1em;
  margin: 1em;
}
.Checkout .reviewimage {
  margin: 1em;
  height: 100px;
  width: 100px;
}
.Checkout .invoice-container {
  text-align: center;
  padding-left: 2em;
  padding-bottom: 3em;
  padding-top: 2em;
  overflow: scroll;
}
.Checkout .circle1 {
  background: #47B6C7;
  width: 1.50em;
  height: 1.50em;
  border-radius: 50%;
  float: left;
  text-align: center;
  margin-right: .75em;
  font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}
.Checkout .your-email {
  font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
.Checkout .email-input {
  width: 31.9em;
  /* margin-left: 5.313em; */
  height: 2.063em;
  background-color: gainsboro;
  font-size: 0.813em;
  border-width: 0em;
  border: none;
  margin-bottom: 1em;
}
.Checkout .circle2 {
  background: #47B6C7;
  width: 1.50em;
  height: 1.50em;
  border-radius: 50%;
  float: left;
  text-align: center;
  margin-right: .75em;
  font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}
.Checkout .your-address {
  font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
.Checkout .address-name {
  float: left;
  margin-top: 0.625em;
  margin-right: -1.625em;
  font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Checkout .address-inputDiv {
  padding-left: 4em;
}
.Checkout .address-first {
  margin-top: 0.938em;
  width: 15.625em;
  height: 2.063em;
  background-color: gainsboro;
  margin-bottom: 0.875em;
  font-size: .813em;
  border-width: 0px;
  border: none;
}
.Checkout .address-last {
  width: 15.625em;
  height: 2.063em;
  background-color: gainsboro;
  font-size: .813em;
  border-width: 0em;
  border: none;
  margin-bottom: 0.875em;
}
.Checkout .address-company {
  width: 15.625em;
  height: 2.063em;
  background-color: gainsboro;
  margin-bottom: 14px;
  font-size: .813em;
  border-width: 0px;
  border: none;
}
.Checkout .address-phone {
  width: 15.625em;
  height: 2.063em;
  background-color: gainsboro;
  font-size: .813em;
  border-width: 0em;
  border: none;
  margin-bottom: 0.875em;
}
.Checkout .addressTxt {
  float: left;
  font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Checkout .address-1 {
  width: 18.875em;
  height: 2.063em;
  background-color: gainsboro;
  margin-bottom: .875em;
  font-size: .813em;
  border-width: 0em;
  border: none;
}
.Checkout .address-2 {
  width: 12.375em;
  height: 2.063em;
  background-color: gainsboro;
  font-size: .813em;
  border-width: 0em;
  margin-bottom: 0.875em;
  border: none;
}
.Checkout .address-city {
  width: 15.625em;
  height: 2.063em;
  background-color: gainsboro;
  margin-bottom: 0.875em;
  font-size: .813em;
  border-width: 0em;
  border: none;
}
.Checkout .state-selector {
  width: 15.625em;
  height: 2.063em;
  background-color: gainsboro;
  font-size: .813em;
  border-width: 0em;
  border: none;
  margin-bottom: 0.875em;
}
.Checkout .address-zipcode {
  width: 9.375em;
  height: 2.063em;
  background-color: gainsboro;
  font-size: .813em;
  border-width: 0em;
  border: none;
  margin-bottom: 0.875em;
}
.Checkout .country-selector {
  width: 21.875em;
  height: 2.063em;
  background-color: gainsboro;
  font-size: .813em;
  border-width: 0em;
  border: none;
}
.Checkout .circle3 {
  background: #47B6C7;
  width: 1.50em;
  height: 1.50em;
  border-radius: 50%;
  float: left;
  text-align: center;
  margin-right: .75em;
  font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}
.Checkout .payment-method {
  font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
.Checkout .card-number {
  background-color: gainsboro;
  font-size: .813em;
  border-width: 0em;
  margin: 0.875em;
  border: none;
  height: 2em;
  font-size: 1em;
  width: 20em;
}
.Checkout .experation {
  float: left;
  padding-right: 1em;
  padding-left: 1em;
  font-size: 12px;
}
.Checkout .month-selector {
  width: 7.625em;
  height: 2.063em;
  background-color: gainsboro;
  font-size: .813em;
  border-width: 0em;
  border: none;
  margin-bottom: 0.875em;
}
.Checkout .year-selector {
  width: 5.625em;
  height: 2.063em;
  background-color: gainsboro;
  font-size: .813em;
  border-width: 0em;
  border: none;
  margin-bottom: 0.875em;
}
.Checkout .CSC {
  width: 4.375em;
  height: 2.063em;
  background-color: gainsboro;
  margin-right: .75em;
  font-size: .813em;
  border-width: 0em;
  border: none;
  margin-bottom: 0.875em;
}
.Checkout .submit-button {
  background-color: #47B6C7;
  color: white;
  border-width: 0em;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  width: 12em;
  height: 2em;
  font-weight: bold;
}
.Checkout .footer2 {
  text-align: center;
  font-family: "Futura", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
.Checkout .address-inputDiv1 {
  border: .5px solid darkgrey;
  width: 95%;
  align-content: center;
}
.Checkout .payment-methodDiv {
  padding-left: 5em;
  margin-bottom: 1em;
}
.Checkout .experationDiv {
  width: auto;
  border: .5px solid darkgrey;
  background-color: #ddd;
}
.Checkout .card-picture {
  vertical-align: middle;
  width: 3em;
  margin: 5px;
}
.Checkout .copyright {
  background-color: #F4F4F4;
  width: 100%;
  display: inline-block;
  margin-top: 8em;
  padding: 2em;
}
.Checkout .ccbackground {
  box-shadow: 0px 0px 5px yellow;
}
.Invoice {
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #47b6c7;
  padding-left: 3em;
  border: 1px solid grey;
  background-color: grey;
  color: black;
  padding-top: 1em;
  padding-bottom: 1em;
}
.Invoice tr:nth-of-type(odd) {
  background-color: #47b6c7;
}
.Invoice table {
  width: 100%;
}
.Invoice tr:nth-of-type(even) {
  background-color: grey;
}
.Invoice .container {
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #47b6c7;
}
