

<div ng-controller="AppearlCtl">
    <div class="banner"><img class="bannerImage" src="../images/covalence-store-apparel-hero.jpg" alt="clothesrack"></div>
        <div ng-click="getId(product.id)" class="products" ng-repeat="appearl in data">
            <div>
                 <img class="productImage"  ng-src="../images/{{appearl.image}}" alt="Product"> 
                <h3>{{appearl.price}}</h3>
                <h3>{{appearl.name}}</h3>
                <button>ADD TO CART</button>
            </div>
        </div>
</div>
