<div class="banner"><img class="bannerImage" src="/App/images/covalence-store-apparel-hero.jpg" alt="clothesrack"></div>
<div ng-controller="AppearlCtl">
    <div class="col-sm-12 col-md-4 col-lg-3 productdiv" ng-repeat="appearl in data">
        <div ng-click="getId(appearl.id)">
            <img class="productImage"  ng-src="App/images/{{appearl.image}}" alt="Product"> 
            <h4 class="productName" >{{appearl.name}}</h4>
            <h4 class="price" >{{appearl.price| currency}}</h4>
        </div>
    </div>
</div>

<div>
    <div class="copyright"><img class= "footer"src="/App/images/Newlogo.png" alt="COVALENCE"><h4>Copyright Covalence LLC</h4></div>
</div>

